:root {
  --main-font: #232946;
  --box-shadow: 0 2px 4px rgba(243, 210, 150, 0.5);
  --sub-font: #4c774e;
  --link: rgba(241, 60, 32, 0.7);
}
body {
  font-family: "IBM Plex Mono", monospace;
  font-family: "Poppins", sans-serif;
  background: #fffffe;
  color: var(--main-font);
}
h1 {
  text-align: center;
}
h2 {
  margin-top: 0;
  padding-top: 0;
  text-align: center;
  margin-bottom: 0;
}
h4 {
  color: var(--sub-font);
  text-align: center;
}
a:hover {
  cursor: pointer;
  color: #4c774e;
}
p {
  font-size: 18px;
  line-height: 1.5;
}
footer {
  text-align: center;
  margin-bottom: 40px;
  font-size: small;
}
.github {
  text-decoration: none;
  color: var(--sub-font);
}
.github :hover {
  color: var(--main-font);
}
.container {
  max-width: 800px;
  margin-top: 40px;
}
.navigation-links {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.link {
  border: 2px solid rgb(243, 210, 150);
  color: var(--link);
  font-size: large;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  text-decoration: none;
  padding: 10px 20px;
  margin: 5px 20px;
}
.introduction {
  display: flex;
  justify-content: center;
  line-height: 1.5;
  font-size: 18px;
}
.intro-paragraph {
  font-size: medium;
  border: 1px solid #f9f2e4;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  background: #f9f2e4;
  padding: 10px 20px;
  margin: 20px;
  color: rgba(35, 41, 70, 0.7);
  margin-bottom: 40px;
}
.email {
  margin-bottom: 40px;
}
.contact-info {
  margin-top: 60px;
}
.project-slide {
  display: grid;
  max-width: 600px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.project-slide img {
  width: 100%;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
}
.container-md {
  margin-bottom: 40px;
}
